# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# VS Code
.vscode/
*.code-workspace

# Node (if you ever add tooling like Tailwind)
node_modules/
dist/
